
/* styles unnafected by screen size */



/* ------------------------------ mobile first ------------------------------ */

/* below 380px wide styles */

.topbar .homepage_buttons {
  text-align      : center;
  box-shadow      : 0px 3px 5px 0px rgba(128,128,128,0.5);
  background-color: #fff;
  padding         : 5px;
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-between;
}

.topbar .button_container {
  text-align     : center;
  vertical-align : top; 
  flex          : 0 1 auto; /* flex-grow flex-shrink flex-basis */
  align-items: flex-start;
}

.topbar .button_container img {
  width : 7vw;
  height: 7vw;
}

.topbar .button_text {
  font-size: 1.57vw;
}

.topbar .button_text p {
  display: none;
}


/* ------------------------------------------- */

/* Small Devices, latest Phones */ 
@media only screen and (min-width : 380px) {

  .topbar .homepage_buttons {
    padding         : 5px 10px;
  }

  .topbar .button_container img {
    width: 5vw;
    height: 5vw;
  }

}
/* ------------------------------------------- */

/* Small Devices, Tablets Portrait */
@media only screen and (min-width : 768px) {

  /* -- */


  .topbar .homepage_buttons {
    padding-bottom : 5px;
    white-space    : nowrap;
  }


  .topbar .button_container {
    margin       : 0 1vw;
    padding-left : 0
  }

  .topbar .button_container img {
      width          : 30px;
      height         : 30px;
      display        : inline-block;
      vertical-align : text-top;
  }

  .topbar .button_text {
      display        : inline-block;
      font-size      : 1.2vw;
      color          : rgb(120,120,120);
      vertical-align : -webkit-baseline-middle;
  }


}

/* ------------------------------------------- */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


  .topbar .homepage_buttons {
    padding: 10px;
  }

  .topbar .button_container img {
      width : 30px;
      height: 30px;
  }

}

@media only screen and (min-width : 1250px) {


}

/* ------------------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1700px) {


  .topbar .button_text {
      vertical-align: sub;
  }

  .topbar .button_container img {
      width : 50px;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
  }

}