/* styles unnafected by screen size */

.page-template-blue .content {
 background: #6498CA; /* Old browsers */
  background: -moz-linear-gradient(top, #6498CA 0%, #91B7DA 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6498CA 0%,#91B7DA 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6498CA 0%,#91B7DA 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6498CA', endColorstr='#91B7DA',GradientType=0 ); /* IE6-9 */
}

.page-template-cyan .content {
 background: #00B1BB; /* Old browsers */
  background: -moz-linear-gradient(top, #00B1BB 0%, #8DCFD7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00B1BB 0%,#8DCFD7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00B1BB 0%,#8DCFD7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00B1BB', endColorstr='#8DCFD7',GradientType=0 ); /* IE6-9 */
}


.page-template-peach .content {
 background: #f2966d; /* Old browsers */
  background: -moz-linear-gradient(top, #f2966d 0%, #EF8C8D 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2966d 0%,#EF8C8D 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2966d 0%,#EF8C8D 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2966d', endColorstr='#EF8C8D',GradientType=0 ); /* IE6-9 */
}


.page-template-red .content,
.page-template-stories .content {
 background: #E9666C; /* Old browsers */
  background: -moz-linear-gradient(top, #E9666C 0%, #F4B192 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #E9666C 0%,#F4B192 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #E9666C 0%,#F4B192 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9666C', endColorstr='#F4B192',GradientType=0 ); /* IE6-9 */
}

.page-template-orange .content {
 background: #F3966D; /* Old browsers */
  background: -moz-linear-gradient(top, #F3966D 0%, #F4B192 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #F3966D 0%,#F4B192 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #F3966D 0%,#F4B192 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3966D', endColorstr='#F4B192',GradientType=0 ); /* IE6-9 */
}



.page-template-purple .content {
 background: #986899; /* Old browsers */
  background: -moz-linear-gradient(top, #986899 0%, #B18DB0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #986899 0%,#B18DB0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #986899 0%,#B18DB0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#986899', endColorstr='#B18DB0',GradientType=0 ); /* IE6-9 */
}

.page-template-spurple .content {
 background: #673188; /* Old browsers */
  background: -moz-linear-gradient(top, #673188 0%, #9A6699 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #673188 0%,#9A6699 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #673188 0%,#9A6699 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#673188', endColorstr='#9A6699',GradientType=0 ); /* IE6-9 */
}
