/* styles unnafected by screen size */

.emotional-support .content {
  background-color: rgb(233,90,79);
  background-image: url(../img/emotional_support_background.png);
}

.practical-support .content {
  background-color: rgb(18,176,186);
  background-image: url(../img/practical_background.png);
}

.helping-someone-else .content {
  background-color: rgb(237,147,105);
  background-image: url(../img/someoneelse_background.png);
}

.what-to-say .content {
  background-color: rgb(46,148,168);
  background-image: url(../img/what_to_say_background.png);
}

.witnesses .content {
  background-color: rgb(233,90,79);
  background-image: url(../img/witness_background.png);
}

.i-didnt-even-know-the-person .content {
  background-color: rgb(233,90,79);
  background-image: url(../img/witness_background.png);
}

.your-stories .content {
  background-color: rgb(112,114,159);
  background-image: url(../img/stories_background.png);
}

.who-we-are .content {
  background-color: rgb(152,210,215);
  background-image: url(../img/whoweare_background.png);
}

.page-template-default_blue .content{
  background-color: rgb(152,210,215) !important;
  background-image: url(../img/whoweare_background.png) !important;
}

/* ------------------------------ mobile first ------------------------------ */

/* below 380px wide styles */


/* ------------------------------------------- */

/* Small Devices, latest Phones */ 
@media only screen and (min-width : 380px) {

}

/* ------------------------------------------- */

/* Small Devices, Tablets Portrait */
@media only screen and (min-width : 768px) {

}

/* ------------------------------------------- */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* ------------------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1700px) {


}