/* styles unnafected by screen size */

.page-template-blue .content {
  background-color: rgb(46,148,16);
  background: 
/*    url(../img/emotional_support_resized.png),*/
    url(../img/blue_background.png);
  background-repeat: 
/*    no-repeat,*/
    repeat;
  background-size:
/*    contain,*/
    auto;
  background-position: 
/*    0px 160px,*/
    0 0;
}

.page-template-cyan .content {
  background-color: rgb(18,176,186);
  background: 
/*    url(../img/practical_support_resized.png),*/
    url(../img/cyan_background.png);
  background-repeat: 
/*    no-repeat,*/
    repeat;
  background-size:
/*    contain,*/
    auto;
  background-position: 
/*    0px 360px,*/
    0 0;
  background-position: 0 0, 0 0;
}


.page-template-peach .content {
  background-color: rgb(233,90,79);
  background: 
/*    url(../img/emotional_support_resized.png),*/
    url(../img/peach_background.png);
  background-repeat: 
/*    no-repeat,*/
    repeat;
  background-size:
/*    contain,*/
    auto;
  background-position: 
/*    0px 160px,*/
    0 0;
}


.page-template-red .content {
  background-color: rgb(233,90,79) !important;
  background: 
/*    url(../img/talking_to_children_resized.png),*/
    url(../img/red_background.png) !important;
  background-repeat: 
/*    no-repeat,*/
    repeat !important;
  background-size:
/*    contain,*/
    auto !important;
  background-position: 
/*    0px 45px,*/
    0 0 !important;
}

.page-template-orange .content {
  background-color: rgb(233,147,105);
  background: 
/*    url(../img/supporting_someone_else_resized.png),*/
    url(../img/orange_background.png);
  background-repeat: 
/*    no-repeat,*/
    repeat;
  background-size:
/*    contain,*/
    auto;
  background-position: 
/*    0px 160px,*/
    0 0;
}

.your-stories .content {
  background-color: rgb(112,114,159);
  background-image: url(../img/magenta_background.png);
}

.page-template-cyan .content {
  background-color: rgb(152,210,215);
  background-image: url(../img/cyan_background.png);
}

.page-template-blue .content{
  background-color: rgb(152,210,215) !important;
  background-image: url(../img/cyan_background.png) !important;
}
