/* styles unnafected by screen size */

/*.content {
  color: rgb(88,88,90);  
  text-align: center;
}

.content-top {
  background-color: #98D2D7;
}

.img--divider {
  width: 100%;
  margin-bottom: -5px;
  background-color: #9CD2D7;
}


.spacer {
  height: 38px;
}*/

td {
  font-size: initial;


}

.content {
  background-color: #fff;
  color: rgb(88,88,90);  
  text-align: left;
}

.content-top {
  background-color: #fff;
}


.page-template-default h3 {
  font-size: 2em;
}
.page-template-default strong {
  font-size: 1.5em;
}

.page-template-default h4 {
  font-size: 1.5em;
}
.page-template-default .content {
    color: rgb(88,88,90);
    text-align: left;
}

.your-stories .content-top, .page-template-default .content-top {
    background-color: rgba(255,255,255,0.85);
    width: 61%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

.page-template-default .content-top {

}

.page-template-default .content-inner {
  padding-bottom: 0px;
  margin-top: 0px;
}

.page-template-default .content-inner {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 0;
}

.page-template-default .content-top p {
  font-size: initial;
}

.page-template-default .spacer {
    height: 0px;
}

/* --- whoops -- */

.page-template-default_blue h3 {
  font-size: 2em;
}
.page-template-default_blue strong {
  font-size: 1.5em;
}

.page-template-default_blue h4 {
  font-size: 1.5em;
}
.page-template-default_blue .content {
    color: rgb(88,88,90);
    text-align: left;
}

.your-stories .content-top, .page-template-default_blue .content-top {
    background-color: rgba(255,255,255,0.85);
    width: 61%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

.page-template-default_blue .content-top {

}

.page-template-default_blue .content-inner {
  padding-bottom: 0px;
  margin-top: 0px;
}

.page-template-default_blue .content-inner {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 0;
}

.page-template-default_blue .content-top p {
  font-size: initial;
}

.page-template-default_blue .spacer {
    height: 0px;
}

/* -- un whoops --*/

.content-inner .page_header{
  border-bottom: 2px solid black;
}

/* ------------------------------ mobile first ------------------------------ */

/* below 380px wide styles */

.content-top {
  padding-top: 0;
}

.content-inner {
  padding-bottom: 0px;
  margin-top: 0px;
}
.content-inner {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 0;
}

.content-top p {
  font-size: initial;
}

.spacer {
    height: 0px;
}

.whowearebuttons div {
  width: 22% !important;
  display: inline-block;
}

/* ------------------------------------------- */


/* Small Devices, Tablets Portrait */
@media only screen and (min-width : 768px) {

  .content-inner-top {
    width: 64%;
    margin-top: 157px;
/*    max-width : 1117PX;*/
  }

  .content-top p {
      font-size: 3vw;
      margin-bottom: 19px;
  }

  .content-xl {
    font-size: 5.5vw;
    line-height: initial;
  }
  
  .content-unhelpful {
    font-size: 4.9vw;
  }
  
  .content-lg {
    font-size: 3.5vw;
  }

  .content-lgp {
    font-size: 4.5vw;
  }

  .content-inner-bottom {
    padding-top: 180px;
  }

}


/* ------------------------------------------- */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  /* - */

  .content {

  }

  .content-top {
    padding-top: 1%;
  }

  .content-inner-top {
    margin-top: 215px;
    max-width : 735PX;
  }

  .content-inner {

  }

  .content-top p {
    margin-bottom: 22px;
    font-size    : 26.5px;
  }

  hr.content-divider-top {
    margin: 35px 0 39px 0;
  }

  .content-xl {
    font-size: 2.5vw;
  }

}