/* styles unnafected by screen size */

.home .content {
  padding-top: 100px;
  color: rgb(88,88,90);  
  text-align: center;
}

.home .content-inner {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10vw 0;
}

.home .content-buttons-header {}

.home .content-top {
  background-color: #98D2D7;
  /*background-image   : url("img/content-top-bg.png");*/
}

.home .content-bottom {
    background-color: #98D2D7;
  background-image   : url("../img/content-top-bg.gif");
  background-repeat  : no-repeat;
  background-position: left top;  
}


.home hr.content-divider {
  height          : 2px;
  border          : 0;
  background-color: rgb(88,88,90); 
  color           : rgb(88,88,90); 
}

.home .img--divider {
  width           : 100%;
  margin-bottom   : -5px;
  background-color: #9CD2D7;
}

.home .content-inner-bottom {
  background-color: rgba(255,255,255,0.7);
  color           : rgb(53,67,77);
  border-radius   : 10px;
  padding         : 35px 0;
}


.home .footer {
  background-image: url("../img/sas_logos.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 1000px;
}


/* ------------------------------ mobile first ------------------------------ */

/* below 380px wide styles */
.home .content-inner-top {
  width         : 75%;
  margin-top    : 60px;
  padding-bottom: 82px;
}

.home .content-inner-top p {
  font-size    : 3.5vw;
  line-height  : 4.1vw;
  margin-bottom: 7px;
}

.home hr.content-divider-top {
  margin: 35px 0;
}

.home .content-xl {
  display      : block;
  font-size    : 6.6vw;
  line-height  : 11vw;
}

.home .content-ml {
  font-size: 22.5px;
  font-size: 4.7vw;
}

.home .down_arrow {
  margin-top: 62px;
}
.home .content-bottom {
    background-size: 100%;
    padding-bottom: 50px;
    padding-top: 25px;
    margin-top: -146px;
}

.home .content-inner-bottom {
  width        : 78%;
  padding-left : 0;
  padding-right: 0;
  margin-top   : 222px;
  margin-bottom: 199px;
}

.home .content-buttons-header {
  display  : block;
  font-size: 6.5vw;
  margin   : auto; /* centre */
  width    : 70%;
}

/* ------------------------------------------- */

/* Small Devices, latest Phones */ 
@media only screen and (min-width : 380px) {

}

/* ------------------------------------------- */

/* Small Devices, Tablets Portrait */
@media only screen and (min-width : 768px) {

  .home .content-bottom {
    background: 
      url(../img/coffee_resized.png);
    background-repeat: 
      no-repeat;
    background-size:
      cover;
    background-position: 
      0px 0px;
    background-color: #98D2D7;
  }


  .home .content-inner-top {
      width: 57%;
      padding-top: 100px;
  }


  .home .content-inner-top p {
    font-size: 2.5vw;
    line-height: 3.1vw;
  }

  .home .content-xl {
    font-size    : 4.7vw;
    line-height  : 11vw;
  }

  .home .content-ml {
    font-size: 20px;
    font-size: 2.7vw;
  }

  .home .content-inner-bottom {
    padding: 38px 0 0 0;
  }

  .home .content-buttons-header {
    font-size: 28px;
  }

}
/* ------------------------------------------- */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .home .content-inner-top {
      width: 65%;
      padding-top: 25px;
  }
  .home .content-inner-top p {
    font-size: 2vw;
    line-height: 1.9vw;
  }
  .home hr.content-divider-top {
    margin: 15px 0;
  }
  .home .content-xl {
      font-size  : 2.5vw;
      line-height: 3vw;
  }
  .home .content-ml {
      font-size: 20px;
      font-size: 1.85vw;
  }
  .home .down_arrow {
    margin-top: 31px;
  }
  .down_arrow {
    width : 55px;
    height: 55px;
  }
}

/* ------------------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1700px) {

  .home .content-inner-top {
      width: 35%;
      padding-top: 129px;
  }

  .home .content-inner-top {
      width: 69%;
      max-width: initial;
      padding-top: 129px;
  }

  .home .content-inner-top p {
      font-size: 2.6vw;
      line-height: 2.6vw;
  }

}