/* styles unnafected by screen size */

.home .hero {


  padding-top: 167px;
}

.home .localservices-search--container {
  display: block;
}

.home .content {
  color      : rgb(88,88,90);  
    background-color: #98D2D7;
  text-align : center;
}

.home .content-inner {
  width  : 100%;
  margin : 0 auto;
  padding: 0 0;
}

.home .content-top {
  background-color: #98D2D7;
  width: 100%;
  padding-top: 0 !important; 
}


/* --------- preview block --------- */

.home .preview-block-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align : left;
}

.home .preview-block {
  flex       : 1 1 50%;
  border     : 2px solid white;
/*  padding    : 10px;*/
}

.home .preview-block a{
   color: #444; 
   display: block;
   text-align: right;
}

.home .preview-block h2 {
  color: #fff;
  display: inline-block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding: 15px;
  background:rgb(59,157,181);
}


.home .preview-block p {
  padding: 5px 15px;
}

.home .preview-block:nth-child(1) {
  /*background:rgb(59,157,181);*/
}

.home .preview-block:nth-child(2) {
  background: rgb(233,90,79);
}

.home .preview-block:nth-child(3) {
  background: rgb(233,147,105);
}

.home .preview-block:nth-child(4) {
  background: rgb(18,176,186);
}





.home .footer {
  background-image: url("../img/sas_logos.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 1000px;
}


/* ------------------------------ mobile first ------------------------------ */

/* below 380px wide styles */
.home .content-inner-top {
  padding-bottom: 0;
}

.home .content-inner-top p {
  font-size    : 3.5vw;
  line-height  : 4.1vw;
  margin-bottom: 7px;
}


/* ------------------------------------------- */

/* Small Devices, latest Phones */ 
@media only screen and (min-width : 380px) {

}

/* ------------------------------------------- */

/* Small Devices, Tablets Portrait */
@media only screen and (min-width : 768px) {


  .home .content-inner-top {

  }


  .home .content-inner-top p {
    font-size: 2.5vw;
    line-height: 3.1vw;
  }

}
/* ------------------------------------------- */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .home .hero {


    padding-top: 188px;
  }


  .home .content-inner-top {

  }
  .home .content-inner-top p {
    font-size: 2vw;
    line-height: 1.9vw;
  }

}

/* ------------------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1700px) {

  .home .content-inner-top {
      max-width: initial;
  }

  .home .content-inner-top p {
      font-size: 2.6vw;
      line-height: 2.6vw;
  }

}