/* styles unnafected by screen size */




/* ------------------------------ mobile first ------------------------------ */

/* below 380px wide styles */

#map {
  height: 65%;
/*  display: none;*/
}


.map_leftCol {
/*  width     : 100%;
  height: initial;*/

      background-color: #01b1bb;
}
.page-id-4 .uk-card{
  margin: 1em;
}
.page-id-4 .uk-card-body {
    padding: 15px;
}



.localservices-search{
  width: 100%;

}


.service_details {
  /*display: none;*/
}

.map_instructions {
  /*display: none;*/
}

.map_leftCol > div:nth-child(5) > p::before {
  content: "Please";
}

.map_leftCol .localservices-search {
}

  .map_leftCol blockquote {
    width: 100%;
    background-color: rgb(255,255,255);


  }

  .map_leftCol blockquote p {
    color: #808080;
  }

.map_leftCol input::-webkit-input-placeholder {
  font-size  : 20px;
}

.map_leftCol input::-moz-placeholder {
  font-size: 18px;
}

.service_details {
  color: #808080;
  margin: 0 9%;
  transition: opacity 0.5s ease;
}

.service_details .service_details__website a {
  color: #808080;
}

.service_details .service_details__name {
/*  font-size: 2vw;*/
 /* text-decoration: underline;*/
 margin-top: 0;
}

.service_details .service_details__header {
/*  font-size: 1.4vw;*/
/*  text-decoration: underline; */
}

#js_service_details__header {
  display: none;
}

#js_service_back_link {
  font-size: 22px;
    color: #505050;
}

.service_details .service_details__overview {
  font-weight: 100
}

/* -- search stuff -- */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }



.search_results {
  display: none;
}

.search_results a {
  color: #808080;
/*  font-size: 1.5vw;*/
  text-decoration: none;
}

.search_results a:hover {
  text-decoration: underline;
}

.local-services .spacer  {
  height: 10px;
}

/* ------------------------------------------- */

/* Small Devices, latest Phones */ 
@media only screen and (min-width : 380px) {

}

/* ------------------------------------------- */

/* Small Devices, Tablets Portrait */
@media only screen and (min-width : 768px) {

.page-id-4 .localservices-search--container{
  display: none;
}


  .map_leftCol .no-mobile {
    visibility: initial !important;
    width     : inherit !important;
    height    : initial !important;
  }

  #map {

    display: block;
  }

  .map_leftCol {
/*    position  : absolute;
    width     : 38%; */
    height    : 86.8%;
    overflow-y: auto;

  }
.page-id-4 .uk-card{
  margin: 0 2em;
}
.page-id-4 .uk-card-body {
    padding: 30px;
}

  .map_instructions {
    font-size    : 18px;
    margin       : 0 33px;
    margin-bottom: 20px;
    margin-top   : 20px;
    display: block;
  }

  .map_leftCol > div:nth-child(5) > p::before {
    content: "";
  }

  .map_leftCol .localservices-search {
      background-color: #BCE1E1;
    /*  font-size: 2vw;*/
      width: 100%;
      display: inline;
  }

  .map_leftCol blockquote {
    
  }

  .map_leftCol blockquote p {

  }

.search_results {
  display: block;
  padding-top: 10px;
    color: #505050;
    font-size: 22px;
}

.service_details {
  display: block;
}

}

/* ------------------------------------------- */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #map, #left_col {
      height: 80%;
}
}

/* ------------------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1700px) {
  #map, #leftCol {

    height: 81.8%;

  }

}

