/* styles unnafected by screen size */


/* ------------------------------ mobile first ------------------------------ */

/* below 380px wide styles */

#map {
  height: 86.8%;
  display: none;
}


.map_leftCol {
  width     : 100%;
  height: initial;
}

.service_details {
  display: none;
}

.map_instructions {
  display: none;
}

.map_leftCol > div:nth-child(5) > p::before {
  content: "Please";
}

.map_leftCol .localservices-search {
  display: none;
}

  .map_leftCol blockquote {
    width: 100%;
    background-color: rgb(188,225,225);
    margin: 0;
      border-radius: 30px;
      padding: 38px;
      padding-bottom: 20px;
  }

  .map_leftCol blockquote p {
      font-size: 1.5vw;
      margin-bottom: 29px;
  }


.map_leftCol input::-webkit-input-placeholder {
  font-size  : 20px;
}

.map_leftCol input::-moz-placeholder {
  font-size: 18px;
}

.service_details {
  color: #808080;
  margin: 0 9%;
  transition: opacity 0.5s ease;
}

.service_details .service_details__website a {
  color: #808080;
}

.service_details .service_details__name {
  font-size: 2vw;
  text-decoration: underline;
}

.service_details .service_details__header {
  font-size: 1.4vw;
  text-decoration: underline; 
}

#js_service_details__header {
  display: none;
}

#js_service_back_link {
  font-size: 22px;
    color: #505050;
}

.service_details .service_details__overview {
  font-weight: 100
}

/* -- search stuff -- */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }



.search_results {
  display: none;
}

.search_results a {
  color: #808080;
  font-size: 1.5vw;
  text-decoration: none;
}

.search_results a:hover {
  text-decoration: underline;
}

.local-services .spacer  {
  height: 10px;
}

/* ------------------------------------------- */

/* Small Devices, latest Phones */ 
@media only screen and (min-width : 380px) {

}

/* ------------------------------------------- */

/* Small Devices, Tablets Portrait */
@media only screen and (min-width : 768px) {

  .map_leftCol .no-mobile {
    visibility: initial !important;
    width     : inherit !important;
    height    : initial !important;
  }

  #map {
    height: 86.8%;
    margin-left: 38%;
    display: block;
  }

  .map_leftCol {
    position  : absolute;
    width     : 38%;
    height    : 86.8%;
    overflow-y: auto; 
    background-color: #96D2D7;
  }


  .map_instructions {
    font-size    : 18px;
    margin       : 0 33px;
    margin-bottom: 20px;
    margin-top   : 20px;
    display: block;
  }

  .map_leftCol > div:nth-child(5) > p::before {
    content: "";
  }

  .map_leftCol .localservices-search {
      background-color: #BCE1E1;
      font-size: 2vw;
      width: 90%;
      display: inline;
  }

  .map_leftCol blockquote {
    width: 100%;
    background-color: rgb(188,225,225);
    margin: 0;
      border-radius: 30px;
      padding: 38px;
      padding-bottom: 20px;
  }

  .map_leftCol blockquote p {
      font-size: 1.5vw;
      margin-bottom: 29px;
  }

.search_results {
  display: block;
  margin: 0 9%;
  border-top: 1px solid #808080;
  padding-top: 10px;
    color: #505050;
    font-size: 22px;
}

.service_details {
  display: block;
}

}

/* ------------------------------------------- */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* ------------------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1700px) {
  #map {
    height: 81.8%;

  }

  .map_leftCol {

    height: 81.8%;

  }

}

