/*  search bar stuff */

.localservices-search--container{
  background-color: #E9E8E4;
  margin          : 0;
  width           : 100%;
  box-shadow      : 0px 1px 4px 2px rgba(128,128,128,0.5);
  padding         : 3px 0;
  margin-top      : 0;
/*  position        : fixed;*/
}

.localservices-search {
  box-sizing        : content-box;
  -webkit-appearance: textfield;
  display           : block;
  border            : none;
  border-radius     : 30px;
  background-color  : rgb(194,194,194);
  color             : rgb(100,100,100);
  text-align        : center;
}

::-webkit-input-placeholder {
  color             : rgb(120,120,120);
}

input::-moz-placeholder {
  color             : rgb(120,120,120);
}

/* ------------------------------ mobile first ------------------------------ */

/* below 380px wide styles */

.localservices-search {
  width    : 35%;
  height   : 1.4em;
  font-size: 1.2em;
  margin   : 0.5em auto;
}

.localservices-search {
/*  height   : 45px;
  font-size: 8vw;*/
}

::-webkit-input-placeholder {
/*  font-size  : 12px;
  line-height: 14px;*/
}

input::-moz-placeholder {
/*  font-size: 12px;*/
}

/* ------------------------------------------- */

/* Small Devices, latest Phones */ 
@media only screen and (min-width : 380px) {

  ::-webkit-input-placeholder {
/*    font-size  : 14px;
    line-height: 16px;*/
  }

  input::-moz-placeholder {
  /*  font-size: 14px;*/
  }

}

/* ------------------------------------------- */

/* Small Devices, Tablets Portrait */
@media only screen and (min-width : 768px) {

  .localservices-search {
/*    font-size: 5vw;
    width    : 85%;
    margin   : auto;*/
  }

  ::-webkit-input-placeholder {
/*    font-size  : 16px;
    line-height: 18px;*/
  }

  input::-moz-placeholder {
/*    font-size: 16px;*/
  }

}

/* ------------------------------------------- */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .localservices-search--container {
   /*   padding: 6px 0;*/
      /* position: fixed; */
  }

  .localservices-search {
 /*     width: 380px;
      height: 50px;
      font-size: 2vw;
      margin: 0px auto;*/
  }

}

/* ------------------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1700px) {
  
  .menubar--mainnav a {
  /*    font-size: 29px;*/
  }

  .localservices-search {
 /*     width: 650px;
      height: 46px;
      font-size: 16px;
      margin: 30px auto;*/
  }
  
  ::-webkit-input-placeholder {
/*    font-size: 1vw;
    position: relative;
    top: 3px;*/
  }

  input::-moz-placeholder {
/*    font-size: 1vw;
    position: relative;
    top: 3px;*/
  }

}