/* styles unnafected by screen size */



.startquote svg {
    transform-origin: 50% 25%;
    transform: rotate(180deg);
}

.endquote svg {
    transform: translate(0px, -5px);
}



/* ------------------------------ mobile first ------------------------------ */

/* below 380px wide styles */
#slider h3 {
    font-size: 1.5em;
    line-height: 1;
}


/* ------------------------------------------- */

/* Small Devices, latest Phones */ 
@media only screen and (min-width : 380px) {


}

/* ------------------------------------------- */

/* Small Devices, Tablets Portrait */
@media only screen and (min-width : 768px) {
  // .your-stories .content-inner-top {
  //   max-width: initial;
  //   width: 100%;
  //   padding: 0 10%;
  //   margin-top: 0px;
  //   height: 100%;
  // }
  //   .your-stories .content {
  //       height:77%;
  //   }

}

/* ------------------------------------------- */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    // .your-stories .content {
    //     height:86%;
    // }
    // 
    #slider  {
        font-size: 1.5rem;
        line-height: 1.4;
    }

}

/* ------------------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1700px) {
    // .your-stories .content {
    //     height:82%;
    // }

}