/*  search bar stuff */

.home .localservices-search--container{
  background-color: rgb(255,255,255);
  margin          : 0;
  width           : 100%;
  box-shadow      : 0px 1px 4px 2px rgba(128,128,128,0.5);
  position        : fixed;
}

.localservices-search {
  box-sizing        : content-box;
  -webkit-appearance: textfield;
  display           : block;
  border            : none;
  border-radius     : 30px;
  background-color  : rgb(224,224,224);
  color             : rgb(140,140,140);
  text-align        : center;
}

::-webkit-input-placeholder {
  color : rgb(151,156,156);
}

input::-moz-placeholder {
  color : rgb(151,156,156);
}

/* ------------------------------ mobile first ------------------------------ */

/* below 380px wide styles */

@-moz-document url-prefix() {
  .home .localservices-search--container{
    top             : 110px;
  }
}

.home .localservices-search--container{
  top             : 106px;
  top             : calc(66px + 11vw);
}

.home .localservices-search {
  width    : 85%;
  height   : 36px;
  font-size: 16px;
  margin   : 10px auto;
}

.localservices-search {
  height   : 45px;
  font-size: 8vw;
}

/*.content-searchbar {
  padding: 0 35px;
}*/

::-webkit-input-placeholder {
  font-size  : 12px;
  line-height: 14px;
}

input::-moz-placeholder {
  font-size: 12px;
}

/* ------------------------------------------- */

/* Small Devices, latest Phones */ 
@media only screen and (min-width : 380px) {

  .home .localservices-search--container{
    top             : 106px;
    top             : calc(58px + 11vw);
  }

  @-moz-document url-prefix() {
    .home .localservices-search--container{
      top             : 130px;
    }
  }

  ::-webkit-input-placeholder {
    font-size  : 14px;
    line-height: 16px;
  }

  input::-moz-placeholder {
    font-size: 14px;
  }


}

/* ------------------------------------------- */

/* Small Devices, Tablets Portrait */
@media only screen and (min-width : 768px) {

  @-moz-document url-prefix() {
    .home .localservices-search--container{
      top             : 111px;
    }
  }

  .home .localservices-search--container{
      top             : 168px;
   }

  .localservices-search {
    font-size: 5vw;
    width    : 85%;
    margin   : auto;
  }

  ::-webkit-input-placeholder {
    font-size  : 16px;
    line-height: 18px;
  }

  input::-moz-placeholder {
    font-size: 16px;
  }

}

/* ------------------------------------------- */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .home .localservices-search--container{
      top             : 67px;
      height          : 84px;
   }

  .home .localservices-search {
      width: 380px;
      height: 50px;
      font-size: 2vw;
      margin: 17px auto;
  }

  .localservices-search {
      font-size: 3vw;
      width    : 85%;
      height   : 55px;
      margin   : auto;
  }


  ::-webkit-input-placeholder {
    font-size: 1vw;
    position: relative;
    top: -4px;
  }

  input::-moz-placeholder {
    font-size: 1vw;
    position: relative;
    top: -4px;
  }


}

/* ------------------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1700px) {
  
  .home .localservices-search--container {
      top: 95px;
      height: 108px;
  }

  .localservices-search {
      font-size: 3vw;
      height   : 75px;
  }

  .menubar--mainnav a {
      font-size: 29px;
  }

  .home .localservices-search {
      width: 650px;
      height: 46px;
      font-size: 16px;
      margin: 30px auto;
  }
  
  ::-webkit-input-placeholder {
    font-size: 1vw;
    position: relative;
    top: 3px;
  }

  input::-moz-placeholder {
    font-size: 1vw;
    position: relative;
    top: 3px;
  }

}